  
  .auth-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Full page height */
    padding: 0 0px;
    box-sizing: border-box;
  }

  .auth-text {
    padding-top: 90px;
    padding-left: 50px;
  }
  
  .auth-left {
    width: 60%;
    text-align: left;
  }
  
  .auth-left h1 {
    font-size: 48px;
  }
  
  .auth-left p {
    font-size: 18px;
    padding-left: 50px;
    width: 70%;
    line-height: 1.6;
    color: #555;
  }
  
  .auth-sketch {
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
  }

  .auth-rec {
    width: 100%;
    max-width:800px;
  }
  
  .auth-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .auth-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .auth-left, .auth-right {
      width: 100%;
      text-align: center;
      padding: 20px;
    }
  
    .auth-left h1 {
      font-size: 36px;
    }
  
    .auth-text {
        display: none;
    }
    .auth-illustration {
      display: none; /* Optionally hide illustration on small screens */
    }
  }
  